.mainBlock{
	background-color: white;
}
.name{
	font-family: sans-serif;
	color:white;
	position: absolute;
	right: 300px;
	top: 20px;
}
.center-img {
	text-align: center;
	width:1024px;
	height:390px;
	display: block;
  	margin: 0 auto;
}
.column {
	font-family:Arial;
 	text-align: left;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    margin-left:112px;
    margin-right:112px;
    margin-top:0px;
    background-color: #e2dfd9;
    opacity: 0.8;
    padding:10px;
   }
#text{
	color:black;
	float: left;
	margin-top:80px;
	right: 100 px;
	top:50px;
}
h3{
	font-weight: bold;
}
a{
	text-decoration: none;

}
a:hover{
	border-bottom: 3px solid grey; /* добавляем нижнюю границу */
    padding-bottom: 0.5px; /* делаем небольшое расстояние между текстом и границей */
}